<div id="container">
    <ngx-avatar name="{{account['firstname']}} {{account['lastname']}}" class="profile-image"></ngx-avatar>
    <form [formGroup]="accountForm">

    <mat-form-field class="w-50">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstname"  required>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastname"  required>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username"  required>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Birthday</mat-label>
        <input matInput formControlName="birthday" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName="city" required>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Select a state</mat-label>
        <mat-select id="state" formControlName="state" required>

          <mat-option value="" selected disabled>Select a state</mat-option>
          <mat-option value="AL">Alabama</mat-option>
          <mat-option value="AK">Alaska</mat-option>
          <mat-option value="AZ">Arizona</mat-option>
          <mat-option value="AR">Arkansas</mat-option>
          <mat-option value="CA">California</mat-option>
          <mat-option value="CO">Colorado</mat-option>
          <mat-option value="CT">Connecticut</mat-option>
          <mat-option value="DE">Delaware</mat-option>
          <mat-option value="DC">District Of Columbia</mat-option>
          <mat-option value="FL">Florida</mat-option>
          <mat-option value="GA">Georgia</mat-option>
          <mat-option value="HI">Hawaii</mat-option>
          <mat-option value="ID">Idaho</mat-option>
          <mat-option value="IL">Illinois</mat-option>
          <mat-option value="IN">Indiana</mat-option>
          <mat-option value="IA">Iowa</mat-option>
          <mat-option value="KS">Kansas</mat-option>
          <mat-option value="KY">Kentucky</mat-option>
          <mat-option value="LA">Louisiana</mat-option>
          <mat-option value="ME">Maine</mat-option>
          <mat-option value="MD">Maryland</mat-option>
          <mat-option value="MA">Massachusetts</mat-option>
          <mat-option value="MI">Michigan</mat-option>
          <mat-option value="MN">Minnesota</mat-option>
          <mat-option value="MS">Mississippi</mat-option>
          <mat-option value="MO">Missouri</mat-option>
          <mat-option value="MT">Montana</mat-option>
          <mat-option value="NE">Nebraska</mat-option>
          <mat-option value="NV">Nevada</mat-option>
          <mat-option value="NH">New Hampshire</mat-option>
          <mat-option value="NJ">New Jersey</mat-option>
          <mat-option value="NM">New Mexico</mat-option>
          <mat-option value="NY">New York</mat-option>
          <mat-option value="NC">North Carolina</mat-option>
          <mat-option value="ND">North Dakota</mat-option>
          <mat-option value="OH">Ohio</mat-option>
          <mat-option value="OK">Oklahoma</mat-option>
          <mat-option value="OR">Oregon</mat-option>
          <mat-option value="PA">Pennsylvania</mat-option>
          <mat-option value="RI">Rhode Island</mat-option>
          <mat-option value="SC">South Carolina</mat-option>
          <mat-option value="SD">South Dakota</mat-option>
          <mat-option value="TN">Tennessee</mat-option>
          <mat-option value="TX">Texas</mat-option>
          <mat-option value="UT">Utah</mat-option>
          <mat-option value="VT">Vermont</mat-option>
          <mat-option value="VA">Virginia</mat-option>
          <mat-option value="WA">Washington</mat-option>
          <mat-option value="WV">West Virginia</mat-option>
          <mat-option value="WI">Wisconsin</mat-option>
          <mat-option value="WY">Wyoming</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Phone number</mat-label>
        <input type="phone" id="phone" matInput formControlName="phoneNumber"  required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" (click)="update()">Update</button>
    </form>
</div>