
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$StagingProject-primary: mat-palette($mat-green,800);
$StagingProject-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$StagingProject-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$StagingProject-theme: mat-light-theme($StagingProject-primary, $StagingProject-accent, $StagingProject-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($StagingProject-theme);

/* You can add global styles to this file, and also import other style files */

$custom-typography: mat-typography-config(
  $font-family: 'Quicksand, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);


html, body { height: 100%; }
body { margin: 0; font-family: 'Quicksand', sans-serif; }

$primary-color:#2E7D32;
$primary-color-light-1:#388E3C;
$primary-color-light-2:#43A047;
$primary-color-light-3:#4CAF50;

$font-color-black:#4e4e4e;
$font-color-gray:#c7c7c7;


#maps-container > agm-map > div.agm-map-container-inner.sebm-google-map-container-inner{
    border-radius: 0 20px 20px 0 !important;
}



.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    color: #f8ce0b;

  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;

    
  }


  ::-webkit-scrollbar {
    width: 10px;
  
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background:  $primary-color;
    border-radius: 50px;
    border: $primary-color solid 1px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  table {
    thead{
      tr{
        background-color: $primary-color !important;
        th{
          text-align: center !important;
          color: white !important;
          font-weight: 700 !important;
        }
      }
    }
    tbody{
      tr{
        td{
          text-align: center !important;

        }
      }
    }
  }

  .profile-image{
    .avatar-container{
      margin: auto;
      width: 180px !important;
      height: 180px !important;
      .avatar-content{
        height: 100%;
        text-align: center;
        border-radius: 100%;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font: 60px / 180px Helvetica, Arial, sans-serif !important;
        user-select: none;
        line-height: 180px !important;
      }
    }
  }