<div id="container">
    <div id="list-container">
        <div
          class="item"
          [routerLink]="[{ outlets: { my: ['board'] } }]"
          [routerLinkActive]="['active']"
          (click)="sendTab('board')"
        >
        <i class="fas fa-tachometer-alt"></i>
          <div>My Dashboard</div>
          <div class="indicator"></div>
        </div>
        <div
          class="item"
          [routerLink]="[{ outlets: { my: ['request'] } }]"
          [routerLinkActive]="['active']"
          (click)="sendTab('request')"

        >
          <i class="fas fa-address-card"></i>
          <div>My Request</div>
          <div class="indicator"></div>
        </div>
        <div
          class="item"
          [routerLink]="[{ outlets: { my: ['profile'] } }]"
          [routerLinkActive]="['active']"
          (click)="sendTab('profile')"

        >
          <i class="fas fa-search"></i>
          <div>My Profile</div>
          <div class="indicator"></div>
        </div>
      </div>
</div>