@import "../../../../styles.scss";
#desktop-container{
    height: 100px;
    background-color: $primary-color;
    #logo{
        display: inline-block;
        vertical-align: middle;
        height: 90px;
        top: -15px;
        position: relative;

        img:nth-child(1){
            width: 150px;
            margin: 0;
            margin-left: 20px;
            display: inline-block;
            animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.3s;
        }
        img:nth-child(2){
          width: 80px;
          margin: 0;
          display: inline-block;
          animation: slide-in-bottom 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1s;

      }
    }
    #content{
        padding: 10px;
        margin-left: 10px;
        height: 70px;
        display: inline-block;

        #title-container{
            height: 60px;
            margin-top: 10px;
            display: inline-block;
            .title{
                font-size: 25px;
                color: white;
                font-weight: 600;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            }
            .description{
                margin-top: 10px;
                color: $font-color-gray;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 1s;
            }
        }
        #profile-container{
            display: inline-block;
            position: absolute;
            right: 10px;
            #profile{
                display: flex;
                align-items: center;

                .image-profile{
                    margin-right: 10px;
                    user-select: none;

                }
                #full-name-container{
                    display: inline-block;
                    user-select: none;
                    #full-name{
                       color: white;
                    }
                    #description{
                        color: $font-color-gray;
                    }
                }
                #devider{
                    height: 60px;
                    width: 1px;
                    margin: 0 30px 0 40px;
                    background-color: rgb(226, 226, 226);
                }
                #logout{
                    margin-right: 30px;
                    font-size: 30px;
                    color: white;
                    cursor: pointer;
                }
                #logout:hover{
                    color: white;
                    cursor: pointer;

                }
            }

        }
    }
}
#mobile-container{
  display: none;
}


@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }


  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
/************************************************************************************************/

  @media screen and (max-width: 992px) {
    #desktop-container {
       display: none;
     }
     #mobile-container{
       display: block;
       mat-toolbar{
         height: 60px;
         #toolbar-img{
           display: inline-block;
           width: 100%;
           #logo-img-container{
             display: table;
             margin: auto;
           }

         }
       }
     }
   }