<div id="container" *ngIf="account">
    <div id="logo">
        <img src="../../../../assets/pick.png" alt="">
        <img src="../../../../assets/up.png" alt="">
    </div>
    <div id="content">
        <div id="title-container">
            <div [ngSwitch]="tab">
                <div *ngSwitchCase="'board'">
                    <div class="title">
                        Find Events
                    </div>
                    <div class="description">
                        Find local pick up games in your area!
                    </div>
                </div>
                <div *ngSwitchCase="'request'">
                    <div class="title">
                        My Events
                    </div>
                    <div class="description">
                        Create an event or view the events you have signed up for!
                    </div>
                </div>
                <div *ngSwitchCase="'profile'">
                    <div class="title">
                        Profile
                    </div>
                    <div class="description">
                        Edit your profile information!
                    </div>
                </div>
                <div *ngSwitchDefault>null</div>
            </div>
        </div>

        <div id="profile-container">
            <div id="profile">
               <ngx-avatar name=" {{account['firstname']}} {{account['lastname']}}" class="image-profile"></ngx-avatar>
                <div id="full-name-container">
                    <div id="full-name">
                        {{account['firstname']}} {{account['lastname']}}
                    </div>
                    <div id="description">
                         {{account['city']}},{{account['state']}}
                    </div>
                </div>
                <div id="devider">
                </div>
                <div id="logout" (click) = "logout()">
                    <i class="fa fa-sign-out"></i>
                </div>
            </div>
        </div>
    </div>
</div>
