<div id="container">
    <div id="logo">
        <img src="../../../../assets/pickup.png" alt="">
    </div>
    <div id="content">
        <div id="title-container">

            <div [ngSwitch]="tab">
                <div *ngSwitchCase="'board'">
                    <div class="title">
                        My Dashboard
                    </div>
                    <div class="description">
                        This is the description of the page
                    </div>
                </div>
                <div *ngSwitchCase="'request'">
                    <div class="title">
                        My Request
                    </div>
                    <div class="description">
                        This is the description of the request page
                    </div>
                </div>
                <div *ngSwitchCase="'profile'">
                    <div class="title">
                        My Profile
                    </div>
                    <div class="description">
                        This is the description of the profile page
                    </div>
                </div>
                <div *ngSwitchDefault>null</div>
            </div>
           
        </div>
        <div id="profile-container">
            <div id="profile">
                <div id="image-profile"></div>
                <div id="full-name-container">
                    <div id="full-name">
                        Kamal Ait Sidhoum
                    </div>
                    <div id="description">
                        Desc ??!
                    </div>
                </div>
                <div id="devider">

                </div>
                <div id="logout">
                    <i class="fas fa-sign-out-alt"></i>
                </div>

            </div>
        </div>
    </div>
</div>